@import url(´https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap);´
@import url(´https://fonts.googleapis.com/css2?family=Asap:ital,wghtQ0,100..900;1,100..900&display=swap´);
@import url(´https://font.googleapis.com/css2?family=asap+condensed:wght@400;700&display=swap´);

h1{font-family:"MuseoModerno",sans-serif ;
    font-optical-sizing: auto;
    font-weight: 700;
    color:#0a2ff1
}
h3{
    font-family: "MuseoModerno",sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color:#0a2ff1

}
h4{
    font-family:"MuseoModerno",sans-serif;
    font-optical-sizing:auto;
    font-weight: normal;
    color:#0a2ff1
}
strong{
    font-family: "Asap Condensed",sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#04146c

}
p{
    font-family: "AsaP",sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    color:#04146c
}